:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main: #121417;
  --primary-color: #f4c550;
  --accent-color: #fbe9ba;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: var(--main);
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--main);
}

a:visited {
  text-decoration: none;
  color: var(--main);
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  fill: none;
  stroke: var(--main);
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
input {
  width: 100%;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
}
input:focus {
  outline: 1px solid rgba(18, 20, 23, 0.1);
  border: 1px solid rgba(18, 20, 23, 0.1);
}
.section {
  display: flex;
  place-items: center;
  justify-content: center;

  padding: 0 64px;
}
.container {
  width: 100vw;
  height: 100vh;
}
