:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main:#121417;
  --yellow: #f4c550;
  --beige: #fbe9ba;
  --dark-gray: #9fbaae;
  --light: #cbded3;
  --dark-blue: #9fb7ce;
  --blue: #bfd6ea;
  --pink: #e0a39a;
  --light-pink1: #f2c0bd;
  --orange-pink: #f0aa8d;
  --light-pink2: #f4c8ba;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: var(--main);
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--main)
}

a:visited {
  text-decoration: none;
  color: var(--main)
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg{
fill: none;
stroke: var(--main);

}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
  border: none;
}
.section {
  display: flex;
  place-items: center;
  justify-content: center;
 
  
  padding: 0 64px;
}
.container{
  width: 100vw;
}
