.themeContainer {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    
}