.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  max-width: 435px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: var(--main);
}

.btn {
  border-radius: 12px;
  padding: 16px 0px;
  height: 60px;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
}

.error {
  padding-left: 5px;
  color: red;
}
.inputPassword {
  position: relative;
  width: 100%;
}

.iconEye {
  position: absolute;
  top: 52%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.iconEyeColor {
  fill: var(--primary-color);
}
